.menu__item {
    list-style: none;
    
    margin-top: .5rem;
}

.menu__item:last-child .menu__link {
    margin-right: 0;
}

@media screen and (max-width: 521px){
    .menu__item{
        text-align: center;
        width: 350px;
        border-bottom: 1px solid rgb(221, 221, 221);
    }
}
