.navbar-brand img {
  height: 60px; /* Ajuste o tamanho da logomarca */
}
.carousel-item {
  height: 90vh; /* Altura do carrossel */
  background-size: cover;
  background-position: center;
}
@media (max-width: 991.98px) {
  .carousel-item {
    height: 50vh;
  }
}

@media (max-width: 575.98px) {
  .carousel-item {
    height: 50vh;
  }
  .carousel-caption {
    font-size: 0.9rem;
    padding: 0.5rem;
  }
  .carousel-caption h1 {
    font-size: 1.2rem;
  }
  .carousel-caption p {
    font-size: 1rem;
  }
}
/* Estilos de exemplo para as imagens do carrossel - SUBSTITUA PELAS SUAS */
.slide-1 {
  background-image: url("assets/img/img-banner/banner1.png");
}
.slide-2 {
  background-image: url("assets/img/img-banner/banner2.png");
}
.slide-3 {
  background-image: url("assets/img/img-banner/banner3.png");
}

.service-icon {
  font-size: 2.5rem;
  color: #007bff; /* Cor principal do Bootstrap */
}

.social-icon {
            font-size: 1.5rem;
            margin: 0 10px;
        }

        



